<br>
<br>
<br>
<div class="container-fluid d-flex mx-auto align-middle">
  <div class="card-deck">

    <div class="shadow-lg mb-5 bg-white card border border-danger">
      <div class="card-body text-center">
        <div class="mx-auto d-block img-fluid" style="padding-top: 3%">
          <img src="assets/images/america.png" class="mx-auto img-responsive img-fluid d-block ">
        </div>
      </div>
      <div class="card-footer ">
        <button (click)="onSelectRegion('Americas')" type="button" class="btn btn-danger active btn-block btn-lg">America(s)</button>
      </div>
    </div>

    <div class="shadow-lg mb-5 bg-white card border border-primary rounded">
      <div class="card-body text-center">
        <div class="mx-auto d-block img-fluid" style="padding-top: 3%">
          <img src="assets/images/europe.png" class="mx-auto img-responsive img-fluid d-block ">
        </div>
      </div>
      <div class="card-footer ">
        <button (click)="onSelectRegion('Europe')" type="button" class="btn btn-primary active btn-block btn-lg"   >Europe</button>
      </div>
    </div>

    <div class="shadow-lg mb-5 bg-white card border border-warning rounded">
      <div class="card-body text-center">
        <div class="mx-auto d-block img-fluid" style="padding-top: 3%">
          <img src="assets/images/asia.jpg" class="mx-auto img-responsive img-fluid d-block ">
        </div>
      </div>
      <div class="card-footer">
        <button (click)="onSelectRegion('Asia')" type="button" class="btn btn-warning active btn-block btn-lg" >Asia</button>
      </div>
    </div>

    <div class="shadow-lg mb-5 bg-white card border border-dark rounded">
      <div class="card-body text-center">
        <div class="mx-auto d-block img-fluid">
          <img src="assets/images/africa.svg" class="mx-auto img-fluid d-block ">
        </div>
      </div>
      <div class="card-footer">
        <button (click)="onSelectRegion('Africa')" type="button" class="btn btn-dark active btn-block btn-lg" >Africa</button>
      </div>
    </div>

    <div class="shadow-lg mb-5 bg-white card border border-success ">
      <div class="card-body text-center">
        <div class="mx-auto d-block img-fluid" style="padding-top: 3%">
          <img src="assets/images/oceania.png" class="mx-auto img-responsive img-fluid d-block ">
        </div>
      </div>
      <div class="card-footer">
        <button (click)="onSelectRegion('Oceania')" type="button" class="btn btn-success active btn-block btn-lg" >Oceania</button>
      </div>
    </div>

  </div>
</div>